<!-- Run all nodes required for autonomous mode  -->
<launch>
    <!-- Set Relative Parameters -->
    <param name="/debug_mode" value="true" type="bool" />
    <param name="/run_on_car" value="false" type="bool" /> 
    <param name="/lane_width" value="100" type="int" />
    <param name="/max_steering_angle_right" value="160" type="int" />
    <param name="/max_steering_angle_left" value="20" type="int" />

    <node name="ImageProcessing" 
        pkg="cic" 
        type="ImageProcessing"
        respawn="true">
        <!-- Set Parameters for Image Processing node -->
        <param name="calibration_mode" value="false" type="bool" />
        <param name="pixel_cm_ratio_x" value="3" type="int" />
        <param name="pixel_cm_ratio_y" value="8" type="int" />
        <param name="scale_x" value="0.4" type="double" />
        <param name="scale_y" value="1.2" type="double" />
        <param name="p1" value="45" type="int" />
        <param name="p2" value="50" type="int" />
        <param name="p3" value="45" type="int" />
        <param name="p4" value="50" type="int" />
    </node>

    <node name="LaneDetection" 
        pkg="cic" 
        type="LaneDetection"
        respawn="true">
        <!-- Set Parameters for LaneDetection node -->
        <param name="direct_mode" value="false" type="bool" />
        <param name="max_vel" value="-800" type="int" />
        <param name="steering_speed_ratio" value="1.5" type="double" />
        <param name="servo_center_position" value="90" type="int" />
        <param name="servo_step" value="2" type="int" />
        <param name="drive_right_lane" value="true" type="bool" />
        
    </node>

    <node name="CrossingDetection" 
        pkg="cic" 
        type="CrossingDetection"
        respawn="true">
        <!-- Set Parameters for CrossingDetection node -->
        
    </node>

    <node name="Master" 
        pkg="cic" 
        type="Master.py"
        launch-prefix="xterm -e"
        respawn="true">
        <!-- Set Parameters for Master node -->
        
        
    </node>

</launch>